<h1>About Me</h1>
    <p>My name is Sandy Hogan. I am currently a Full Stack Web Development student, in the Learn-Verified online program, at the Flatiron School in NYC. I am building a Pinterest-like clone web app, using Ruby on Rails as a practice project, that I intend to continue adding features to as I continue learning.</p>
    <p>My future plans (at the moment) for this app include:
        <ol>
            <li>Changing the name to a <strong>SUPER SECRET <em>pet/animal related</em></strong> name</li>
            <li>Adding user avatars</li>
            <li>Ability to like or up-vote pins</li>
            <li>Add friends</li>
            <li>Ability to sign up using FB</li>
        </ol>
    </p>