<h1>About Me</h1>
<p>My name is Sandy Hogan. I am currently a Full Stack Web Development student, in the Learn-Verified online program, at the Flatiron School in NYC. I am building a Pinterest-like clone web app, using Ruby on Rails as a practice project, that I intend to continue adding features to as I continue learning.</p>